/* Layout
  =============== */

body {
    text-align: center;
}

h1,
h2,
h5,
p,
svg path,
svg rect {
    fill: white;
    color: white;
}

.main {
    .heading {
        margin-top: 50px;
        font-size: 25px;
    }
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 168px;
    }
    h1 {
        font-size: 140px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}